.vscode/
build
debug/
Debug/
.vs/
*.user
asio/
nbproject/
*.obj
*.o
**/*.opendb
**/*.db
*.pdb
*.exe
*.ilk
*.lib
.cache
cmake-build-debug
compile_commands.json
bazel-bin
bazel-out
bazel-testlogs
bazel-NuRaft