.vscode/
build
debug/
Debug/
.vs/
*.user
nbproject/
*.obj
*.o
**/*.opendb
**/*.db
*.pdb
*.exe
*.ilk
*.lib
.idea
cmake-build*

CMakeLists copy.txt
CMakeUserPresets.json
compile_commands.json
.cache
.build_success*