matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
         - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
         - CODECOV_TOKEN="c29e0ca9-762f-47fd-9072-aa4d1156eda8"

before_install:
  - sudo apt-get update
  - sudo apt-get install -y cmake openssl libssl-dev

install:
  - ./prepare.sh

script:
  - ./travis_build.sh
